/* Account menu */

.modal-container.modal-container-corner {
    z-index: 210;
    justify-content: right;
    align-items: flex-end;
    padding-top: var(--top-bar-size);
    padding-right: 56px;
    background: transparent;
    pointer-events: none;
}

.modal-container.modal-container-corner.modal-wallet-corner {
    padding-right: 112px;
}

.modal-container.modal-container-corner .modal-dialog {
    margin: 0;
    width: 300px;
    border: solid 1px var(--theme-border-color);
    pointer-events: all;
}

@media (max-width: 400px) {
    .modal-container.modal-container-corner .modal-dialog {
        width: 100%;
    }
}

.modal-header-corner {
    padding: 1rem;
    border-bottom: solid 1px var(--theme-border-color);
}

.account-settings-username {
    font-weight: 600;
    font-size: var(--font-size-xl, 1.5rem);
}

.account-settings-logout-link {
    padding-top: 0.5rem;
    font-size: var(--font-size-min, 1rem);
}

.modal-body.no-padding {
    padding: 0;
}

.modal-body.border-top {
    border-top: solid 1px var(--theme-border-color);
}

.settings-list {
    display: flex;
    flex-direction: column;
}

.settings-list-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    cursor: pointer;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--text-color);
}

a.settings-list-item {
    color: var(--text-color);
}

a.settings-list-item:visited {
    color: var(--text-color);
}

.settings-list-item:hover {
    background-color: var(--a11y-primary, #004d99);
    color: #ffffff !important;
}

.settings-list-item:hover .settings-list-item-icon,
.settings-list-item:hover .settings-list-item-caption,
.settings-list-item:hover .settings-list-item-arrow {
    color: #ffffff;
}

.settings-list-item:focus-visible {
    outline: 3px solid var(--a11y-primary, #004d99);
    outline-offset: -3px;
    background-color: var(--a11y-primary, #004d99);
    color: #ffffff !important;
}

.settings-list-item:focus-visible .settings-list-item-icon,
.settings-list-item:focus-visible .settings-list-item-caption,
.settings-list-item:focus-visible .settings-list-item-arrow {
    color: #ffffff;
}

.settings-list-item-icon {
    padding: 0.5rem;
    font-size: var(--font-size-min, 1rem);
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-list-item-caption {
    padding: 0.5rem;
    flex: 1;
    min-width: 0;
    font-family: inherit;
    font-size: var(--font-size-min, 1rem);
    display: flex;
    flex-direction: column;
}

.settings-list-btn {
    padding: 0.5rem;
}

.settings-list-item-arrow {
    padding: 0.25rem;
}

.check-invisible {
    visibility: hidden;
}

.select-wallet-name,
.select-wallet-addr,
.select.wallet-opt {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select-wallet-opt,
.select-wallet-addr {
    font-size: var(--font-size-min, 1rem);
    padding-top: 0.5rem;
}
