/* Common page style - MiCiudadID (sin sidebar) */

.page-content {
    position: fixed;
    top: var(--top-bar-size);
    height: calc(100% - var(--top-bar-size));
    left: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2rem;
}

.page-content:focus {
    outline: none;
}

@media (max-width: 1000px) {
    .page-content {
        left: 0;
        width: 100%;
        padding: var(--page-padding-y, 1.5rem) var(--page-padding-x, 1.5rem);
    }
}

@media (max-width: 768px) {
    .page-content {
        padding: 1rem;
    }
}

.page-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.page-menu-item {
    padding: 1rem;
    font-family: inherit;
    font-size: var(--font-size-lg, 1.25rem);
    text-align: center;
    min-width: fit-content;
    text-decoration: none;
    color: inherit !important;
}

.page-menu-item:focus-visible {
    outline: none;
    text-decoration: underline;
    background: var(--hover-color);
}

.page-menu-item:visited {
    color: inherit !important;
}

.page-menu-item:hover {
    background: var(--hover-color);
}

.page-menu-item.selected,
.page-menu-item.selected:hover {
    background: var(--selected-color);
}

.page-menu-item-2 {
    width: 50%;
}

.page-menu-item-3 {
    width: 33.33%;
}

.page-menu-item-4 {
    width: 25%;
}

.page-menu-item-5 {
    width: 20%;
}

.page-menu-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.page-menu-controls {
    border-top: solid 1px var(--theme-border-color);
    padding-top: 1rem;
}

.certificate-pem {
    max-height: 240px;
    overflow: auto;
    font-family: monospace;
}

.admin-action-form-bottom {
    padding-top: 0.5rem;
}

.page-content-question-select {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.page-content-question-select.horizontal {
    flex-direction: row;
    justify-content: center;
}

.page-content-question-select.vertical {
    flex-direction: column;
}

.page-content-question-select-option {
    padding: 0.5rem;
    border: solid 1px var(--theme-border-color);
    cursor: pointer;
    margin: 0.5rem;
    user-select: none;
}

.page-content-question-select-option:hover {
    background-color: var(--hover-color);
}

.page-content-question-select-option.selected,
.page-content-question-select-option.selected:hover {
    background: var(--selected-color);
}

.page-content-question-select-option .option-title {
    font-family: inherit;
    font-size: var(--font-size-lg, 1.25rem);
    font-weight: 600;
    padding: 0.5rem;
    text-align: center;
}

.page-content-question-select-option .option-description {
    padding: 0.5rem;
    text-align: center;
}

.page-top-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bottom-loader {
    padding: 1rem;
}

.content-inner:focus {
    outline: none;
}
